# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
env/

# Uploaded Images
backend/uploads/originals/*
backend/uploads/cartoons/*

# Database secrets
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

.env